# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env
!.env.*
*.swp

# FastAPI-specific
*.log
instance/
logs/
*.sqlite3

# Python-related
*.egg-info/
.eggs/
dist/
build/
pip-log.txt
pip-delete-this-directory.txt

# pytest cache
.pytest_cache/

# AWS-related
.aws/
*.pem
terraform.tfstate
terraform.tfstate.backup

# Celery
celerybeat-schedule
*.celery.pid

# Docker
docker-compose.override.yml
.docker/
docker-entrypoint.sh

# Redis
dump.rdb
*.rdb
*.aof

# PostgreSQL
*.sql
pgdata/
postgresql/

# IDE-specific
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Alembic
app/db/migrations/versions/*.pyc
app/db/migrations/versions/__pycache__/
app/db/migrations/__pycache__/
app/db/migrations/.cache
