.env
.env.sample

__pycache__/
*.pyc
*.pyo
*.pyd

*.swp
*.swo
*.bak
*.tmp
.idea/
.vscode/
*.log

tests/
docs/
*.md

.DS_Store
Thumbs.db

dist/
build/
*.out
*.o
*.a
*.so
*.exe

Dockerfile
docker-compose.yml
.dockerignore

README.md

.gitignore
.git

venv/
